:root {
  --branchHeight: 20px;
  --leafHeight: 16px;
  --tabHeight: 16px;
  --treeWidth: 95%;
  --nestOffset: 16px;
  --treeHeight: 200px;

  --panelWidth: auto;
  --panelHeight: auto;

  --treeHeight: calc(var(--panelHeight) - 20);
  --colorSelect: #374E63;
  font-family: Roboto, sans-serif;
  font-size: 11px;
}

.placeholder {

}

.placeholder {
  display: none;
  /* height: 3px;
  border: 2px solid red; */
}

.checkTest {
  margin-top: 1rem;
}

#topToolbar {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: .5rem;
  justify-content: space-between;
}

body {
  height: 400px;
}

#mirror {
  position: absolute;
  bottom: 0px;
  /* border: 2px solid red; */
  height: 280px;
  width: 98%;
  /* background-color: green; */
  /* z-index: 200; */
}

.tree {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  user-select: none;
}

.treeSoil {
  /* border: 2px solid white; */
  width: var(--treeWidth);
  /* height: var(--treeHeight); */
  /* overflow: scroll; */
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 240px;
  margin-left: 5%;
  border-style: solid;
  border-color: var(--colorBorder);
  border-top-width: calc(var(--borderWidth)/2);
  border-bottom-width: calc(var(--borderWidth)/2);
}

.treeRoots {
  width: 100%;
  justify-content: center;
  /* height: 2rem; */
  /* border: 2px solid red; */
}

.treeTrunk {
  width: 100%;
  cursor: default;
}

.active {
  background-color: var(--colorSelect);
}

.treeLimb {
  /* border: 2px solid white; */
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.nest {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  /* width: 100%; */
}

.treeBranch {
  border-color: var(--colorBorder);
  border-style: solid;
  border-right-width: var(--borderWidth);
  border-left-width: var(--borderWidth);
  border-top-width: calc(var(--borderWidth)/2);
  border-bottom-width: calc(var(--borderWidth)/2);
  width: 100%;
  padding: .0625rem;
  height: var(--branchHeight);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.treeTwig {
  margin-left: .5rem;
  cursor: default;
}

.treeLeaf {
  align-items: center;
  /* border: 2px solid blue; */
  height: var(--leafHeight);
  width: var(--leafHeight);
}

.treeText {
  color: #D0D0D0;
}

.treeTab {
  height: var(--tabHeight);
  width: var(--tabHeight);
}

/* .treeBranch:first-child {
  border-top-width: var(--borderWidth);
}

.treeBranch:last-child {
  border-bottom-width: var(--borderWidth);
} */
